<h1 id=about-title class="gradientBg">About Us</h1>
<h3>Ashok Sasitharan</h3>
<p>My name is Ashok Sasitharan, I am 19 years old and I have been programming for 4 years. I am experienced in web 
    development using languages like HTML, PHP, CSS, and JavaScript as well as development 
    of Windows Form, and Console Applications in C#, C++, Java.</p>
<p id=about-ashok></p>
<br/>
<p id=about-jacky></p>