<h1 id=about-title class="gradientBg">About Us</h1>
<h3>Ashok Sasitharan</h3>
<p>My name is Ashok Sasitharan, I am 19 years old and I have been programming for 4 years. I am experienced in web 
    development using languages like HTML, PHP, CSS, and JavaScript as well as development 
    of Windows Form, and Console Applications in C#, C++, Java.</p>
    <a href="./documents/Ashok-Sasitharan-Resume.pdf" download>
        <p class="resume-link">Here is a link to my Resume!</p>
         </a>
         <img src="./images/ashok-picture.jpg" alt="A picture of Ashok Sasitharan" width =450 height = 600>
<br/>
<p id=about-jacky></p>