<h1 class="gradientBg">About Us</h1>
<h3>Ashok Sasitharan</h3>
<p>My name is Ashok Sasitharan, I am 19 years old and I have been programming for 4 years. I am experienced in web 
    development using languages like HTML, PHP, CSS, and JavaScript as well as development 
    of Windows Form, and Console Applications in C#, C++, Java.</p>
    <a href="./documents/Ashok-Sasitharan-Resume.pdf" download>
        <p class="resume-link">Here is a link to my Resume!</p>
         </a>
         <img src="./Assets/images/ashok-picture.jpg" alt="A picture of Ashok Sasitharan" width =450 height = 600>
<br/>
<h3>Jacky Yuan</h3>
<p>My name is Jacky Yuan, I'm 25 years old and I have been working with computer programming since I was in high school. I have always been fascinated by
    computers and how using nothing but numbers and words, we can create all kinds of interesting programs and apps. I started off with creating
    simple games in flash similar to the ones I played online. However, I became more interested in doing more complex programs with more functionality.
    I now have experience with a number of languages such as Java and c# alongside with some experience working on web development, mainframe development
    and windows form applications.</p>

    <a href="./documents/Jacky_Yuan_Resume.pdf" download>
        <p class="resume-link">Here is a link to my Resume!</p>
         </a>
        <img src="./Assets/images/jacky-picture.jpg" alt="A picture of Jacky Yuan" width =500 height = 450>`;