<h1 class="gradientBg">Ashok Sasitharan & Jacky Yuan's Portfolio</h1>
<p>
  Welcome to to our portfolio website. Here we have pages that showcase our
  programming prowess with info about our previous projects as well as some
  information about ourselves.
</p>
<p>If you want to learn more about us click here</p>