<h1 class="gradientBg">Projects</h1>
<p>Below are some of our favorite projects!!</p>
<br/>
    <h3>1. Discord Bot - Ashok Sasitharan</h3>
    <p>One of my recent favorite projects was the creation of a simple discord bot that I made using Node.js</p>
    <img src="./images/discord-bot.PNG" alt="A picture of the discord bot replying to commands">
   <br/>
   <br/>
   <h3>2. Database Web App - Ashok Sasitharan</h3>
    <p>Another one of my favorite projects was the creation of a web app in ASP.NET which stored the data of
    doctors and patients in a database and used that information to create appointments.</p>
    <img src="./images/heart-hospital.PNG" alt="A picture of the hospital web app" width="1024px" height="500">
<br/>
<br/>
    <h3>3. COBOL Project - Ashok Sasitharan</h3>
    <p>My third favorite project was a simple COBOL program that took item input data from a .dat file and created a formatted 
    output file with calculations done for totals.</p>
    <img src="./images/cobol-output.PNG" alt="A picture of the input file and formatted output file" width="1024px" height="600">
<br/>
<br/>
    <h3>1. Multi-Text Editor - Jacky Yuan</h3>
    <p>One of my earlier applications that was made in visual basic. It is a relative simple project of creating an multi-page 
    text editor. But I liked it since it was one of the first projects I made that have a practical application. Before this point,
     projects were always these abstract console applications with very specialized purposes. This project, however, was memorable since
    it was making something, even if it is a simplified version, that I often used.
    </p>
    <img src="./images/texteditor1.PNG" alt="sample document in the editor" width="1024px" height="600">
  <br/>
  <br/>
  <p id=projects-h3-5></p>
  <br/>
  <br/>
  <p id=projects-h3-6></p>
  <p><br/></p>