<h1 class="gradientBg">Our Services</h1>
<h3>Web Development - Ashok Sasitharan</h3>
    <p>One of my strongest skills is creating good looking modern websites that are able to communicate with database using HTML, SQL, PHP, CSS, and JavaScript</p>
    <img src="./images/files.png" alt="A picture of web development icons">
    <p>Author: Alex Anistratov, Title: Files html, css, php, js, <a href="https://www.talkaboutcreative.com.au/cms-html-css-php-js-wtf-know-language-user-love/"> Link</a> </p>
<br/>
<br/>
<p id=services-h3-2></p>
<br/>
<br/>
<p id=services-h3-3></p>
<br/>
<br/>
<p id=services-h3-4></p>
<br/>
<br/>
<p id=services-h3-5></p>
<br/>
<br/>
<p id=services-h3-6></p>