<h1 class="gradientBg">Our Services</h1>
<h3>Web Development - Ashok Sasitharan</h3>
    <p>One of my strongest skills is creating good looking modern websites that are able to communicate with database 
        using HTML, SQL, PHP, CSS, and JavaScript</p>
    <img src="./Assets/images/files.png" alt="A picture of web development icons">
    <p>Author: Alex Anistratov, Title: Files html, css, php, js,
        <a href="https://www.talkaboutcreative.com.au/cms-html-css-php-js-wtf-know-language-user-love/"> Link</a> </p>
<br/>
<br/>
    <h3>Object Oriented Programming - Ashok Sasitharan</h3>
    <p>Another one of my strengths is that I am proficient in creating Object Oriented Programs using C++, C#, and Java</p>
    <img src="./Assets/images/oop-icon.png" alt="A OOP Icon. ">
    <p>Author: codestation.io, Title: OOP Icon, <a href="https://in.pinterest.com/pin/727823989749361379/"> Link</a> </p>
<br/>
<br/>
    <h3>Web Applications - Ashok Sasitharan</h3>
    <p>Finally another one of my strengths is that I am experienced in creating Web Applications using ASP.NET Core that work with databases 
        as well as deploying web apps with Azure.</p>
        <img src="./images/net-core.png" alt=".NET Core logo." width="200" height="200">
        <p>Author: Wikimedia Commons, Title: NET Core Logo, <a href="https://commons.wikimedia.org/wiki/File:.NET_Core_Logo.svg"> Link</a> </p>
<br/>
<br/>
<p id=services-h3-4></p>
<br/>
<br/>
<p id=services-h3-5></p>
<br/>
<br/>
<p id=services-h3-6></p>