/* custom css goes here 
.input-group-addon:first-child
{
    border-right: 0;
}

.input-group-addon
{
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    border: 1px solid darkgrey;
    border-radius: 4px; 
}

.input-group-addon .fa
{
    font-size: 18px;
}

.input-group .form-control
{
    position:relative;
    z-index: 2;
    float:left;
    margin-bottom: 0;
}

.input-group .form-control:last-child
{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}



.login
{
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: lightgrey;
    border-radius: .3rem;
}

.login input
{
    background-color: white;
    border-color: darkgrey;
    border-radius: .4em;
    width: 100%;
}

.edit-task
{
    position: relative;
    top: -31px;
    display: none;
}*/

/*
Name: Ashok Sasitharan 100745484, Jacky Yuan 100520106
Date: February 03 2021
File: app.css
*/
.textcenter{
    text-align: center;
}
body.bg-image{
    background-image : url('../Assets/images/bg-img.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

}
body
{
    padding-bottom: 40px;
}
.gradientBg{
    padding-left: 10px;
    color: white;
    border-radius: 10px;
    width: 100%;
    height: 100px;
    margin: 50px auto;
   /* background-color: rgba(0, 0, 0, 0.7);*/
    /*  background: linear-gradient(35deg,#160b52,#2f55d1,#3d68f5,0.7)*/
    background: linear-gradient(35deg, rgba(22, 11, 82, 0.5),rgba(47, 85, 209, 0.8),rgba(61, 104, 245, 1));
   
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.container{

}
h3{
    color:white;
    text-shadow: 2px 2px #000000;
}

p{
    color:white;
    font-size: large;
    text-shadow: 2px 2px #000000;
}

footer{
    color:white;
}
.resume-link{
    color:rgb(12, 185, 238);
}

.text-shadow{
    background-color: rgba(0, 0, 0, 0.5);
}

/*Login and register CSS */

.input-group-addon:first-child
{
    border-right: 0;
}

.input-group-addon
{
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    border: 1px solid darkgrey;
    border-radius: 4xpx; 
}

.input-group-addon .fa
{
    font-size: 18px;
}

.input-group .form-control
{
    position:relative;
    z-index: 2;
    float:left;
    width: 100%;
    margin-bottom: 0;
}

.input-group .form-control:last-child
{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.login
{
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: lightgrey;
    border-radius: .3rem;
}

.login input
{
    background-color: white;
    border-color: darkgrey;
    border-radius: .4em;
    width: 100%;
}
