<h1 class="gradientBg">Ashok Sasitharan & Jacky Yuan's Portfolio</h1>
<p>
  Welcome to to our portfolio website. Here we have pages that showcase our
  programming prowess with info about our previous projects as well as some
  information about ourselves.
</p>
<p>Our mission is too create intuitive and easy to use applications and websites for clients all over the world.</p>
<p>If you want to learn more about us <a href="/about"> click here.</a></p>
<br/>
<p>If you want to view some of our past projects <a href="/projects"> click here.</a></p>
<br/>
<p>If you want to view some of our skills <a href="/services"> click here.</a></p>
