<h1 class="gradientBg">Projects</h1>
<p>Below are some of our favorite projects!!</p>
<br/>
    <h3>1. Discord Bot - Ashok Sasitharan</h3>
    <p>One of my recent favorite projects was the creation of a simple discord bot that I made using Node.js</p>
    <img src="./Assets/images/discord-bot.PNG" alt="A picture of the discord bot replying to commands">
   <br/>
   <br/>
   <h3>2. Database Web App - Ashok Sasitharan</h3>
    <p>Another one of my favorite projects was the creation of a web app in ASP.NET which stored the data of
    doctors and patients in a database and used that information to create appointments.</p>
    <img src="./Assets/images/heart-hospital.PNG" alt="A picture of the hospital web app" width="1024px" height="500">
<br/>
<br/>
    <h3>3. COBOL Project - Ashok Sasitharan</h3>
    <p>My third favorite project was a simple COBOL program that took item input data from a .dat file and created a formatted 
    output file with calculations done for totals.</p>
    <img src="./Assets/images/cobol-output.PNG" alt="A picture of the input file and formatted output file" width="1024px" height="600">
<br/>
<br/>
    <h3>1. Multi-Text Editor - Jacky Yuan</h3>
    <p>One of my earlier applications that was made in visual basic. It is a relative simple project of creating an multi-page 
    text editor. But I liked it since it was one of the first projects I made that have a practical application. Before this point,
     projects were always these abstract console applications with very specialized purposes. This project, however, was memorable since
    it was making something, even if it is a simplified version, that I often used.</p>
    <img src="./Assets/images/texteditor1.PNG" alt="sample document in the editor" width="1024px" height="600">
  <br/>
  <br/>
    <h3>2. Salon Webpage - Jacky Yuan</h3>
    <p>An simple 5 page website for a salon built in ASP.Net. It is linked to a database allowing for features such as a simple login and 
    registering as a new user or making an appointment. This was a final project for NETD 3202 class, it combined elements of
    other web design with various functionalities programmed in C#. The resulting website looked much more professional than I had initially
    thought it would.</p>
    <img src="./Assets/images/FPoBH.PNG" alt="homepage of Fresh Prince of Bel-Hair" width="1024px" height="600">
  <br/>
  <br/>
    <h3>3. Side Scrolling Shooter - Jacky Yuan</h3>
    <p>A side project I made, it is simple side scrolling shooter made in Flash while it was still being supported. Flash games were
    a big part of my childhood and I wanted to create something before Flash became unsupported. So I created this simple game, with
    simple keyboard controls, hit detection, scaling difficulty and some simple animations. A fun and nostalgic project as a final nod 
    to something I spent hours upon hours on in my past.</p>
    <img src="./Assets/images/flashgame.PNG" alt="Side scrolling shooter game" width="1024px" height="600">
  <p><br/></p>
  <hr/>
  <br/>
  <h3>3. Side Scrolling Shooter - Jacky Yuan</h3>
  <p>A side project I made, it is simple side scrolling shooter made in Flash while it was still being supported. Flash games were
  a big part of my childhood and I wanted to create something before Flash became unsupported. So I created this simple game, with
  simple keyboard controls, hit detection, scaling difficulty and some simple animations. A fun and nostalgic project as a final nod 
  to something I spent hours upon hours on in my past.</p>
  <img src="./Assets/images/flashgame.PNG" alt="Side scrolling shooter game" width="1024px" height="600">
<p><br/></p>