<!--
Name: Ashok Sasitharan 100745484, Jacky Yuan 100520106
Date: April 13 2021
File: services.ejs
-->
<h1 class="gradientBg">Our Services</h1>
<h3>Web Development - Ashok Sasitharan</h3>
    <p>One of my strongest skills is creating good looking modern websites that are able to communicate with database 
        using HTML, SQL, PHP, CSS, and JavaScript</p>
    <img src="./Assets/images/files.png" alt="A picture of web development icons">
    <p>Author: Alex Anistratov, Title: Files html, css, php, js,
        <a href="https://www.talkaboutcreative.com.au/cms-html-css-php-js-wtf-know-language-user-love/"> Link</a> </p>
<br/>
<br/>
    <h3>Object Oriented Programming - Ashok Sasitharan</h3>
    <p>Another one of my strengths is that I am proficient in creating Object Oriented Programs using C++, C#, and Java</p>
    <img src="./Assets/images/oop-icon.png" alt="A OOP Icon. ">
    <p>Author: codestation.io, Title: OOP Icon, <a href="https://in.pinterest.com/pin/727823989749361379/"> Link</a> </p>
<br/>
<br/>
    <h3>Web Applications - Ashok Sasitharan</h3>
    <p>Finally another one of my strengths is that I am experienced in creating Web Applications using ASP.NET Core that work with databases 
        as well as deploying web apps with Azure.</p>
        <img src="./Assets/images/net-core.png" alt=".NET Core logo." width="200" height="200">
        <p>Author: Wikimedia Commons, Title: NET Core Logo, <a href="https://commons.wikimedia.org/wiki/File:.NET_Core_Logo.svg"> Link</a> </p>
<br/>
<br/>
        <h3>Database Skills - Jacky Yuan</h3>
         <p>One of my strengths is that I am proficient working with databases. I am experience with utilizing SQL to implement and 
         interface with a database in my projects. I am also comfortable with database design to eliminate redundancies and provide
         concise data.</p>
         <img src="./Assets/images/sql-database.jpg" alt="SQL database. " width="700px" height="300">
         <p>Author: Eleni Markou - blendo.co, Title: SQL database, <a href="https://www.blendo.co/blog/sql-table-and-data-partitioning-how-to/"> Link</a> </p>
<br/>
<br/>
<h3>System Development Life Cycle - Jacky Yuan</h3>
        <p>Another one of my strengths is that I am experienced with applying the SDLC concepts and models into
        many of my projects. In particular, waterfall, prototyping, and SCRUM methodologies have all been utilized throughout my various projects.</p>
        <img src="./Assets/images/SDLC.png" alt="SDLC cycle. ">
        <p>Author: javatpoint.com, Title: SDLC cycle, <a href="https://www.javatpoint.com/software-engineering-software-development-life-cycle"> Link</a> </p>
<br/>
<br/>
<h3>Mainframe Development - Jacky Yuan</h3>
         <p>Lastly, alongside many of the more common programming languages like python or c#, I also have experience with so older languages
         like cobol which is still used in many mainframe systems across the world.</p>
         <img src="./Assets/images/60COBOL.jpg" alt="A cobol Icon. ">
         <p>Author: Que mangus - blog.microfocus.com, Title: cobol Icon, <a href="https://blog.microfocus.com/cobol-is-60/"> Link</a> </p>